:root {
  /* ? ######## Colors */
  --color-default: #212529;
  --primary-hue: 0;
  --primary-saturation: 84%;
  --primary-lightness: 44%;
  --color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 100%;
  --color-light: hsl(
    var(--light-hue),
    var(--light-saturation),
    var(--light-lightness)
  );
  --color-light-grey: #eee;
  /* ? ######## Fonts */
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", "sans-serif";
  --font-secondary: "Inter", "sans-serif";
  /* ? ######## Animation options */
  --animation-duration: 400ms;
}

/*^============> Mode <============*/
.mode-group i {
  cursor: pointer;
  font-size: 25px;
}

.mode-group .light {
  display: none;
}
:root:has(.mode:checked) {
  --primary-hue: 35;
  --primary-lightness: 44%;
  --primary-saturation: 72%;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 9%;
  --color-default: #fff;
  --color-secondary: #fff;
  --color-tertiary: #9f9f9f;
  --color-light-grey: #252525;
}

:root:has(.mode:checked) body {
  background-color: #202020;
}

:root:has(.mode:checked) .mode-group .dark {
  display: none;
}

:root:has(.mode:checked) .mode-group .light {
  display: block;
}

body:not(body:has(:target)):has(.mode:checked) li a[href="#home"],
body:has(.home:target):has(.mode:checked) li a[href="#home"],
body:has(.contact:target):has(.mode:checked) li a[href="#contact"],
body:has(.gallery:target):has(.mode:checked) li a[href="#gallery"],
body:has(.chefs:target):has(.mode:checked) li a[href="#chefs"] {
  color: hsl(
    var(--light-hue),
    var(--light-saturation),
    calc(var(--light-lightness) + 90%)
  );
}

body:has(.mode:checked) nav .nav-links a:hover {
  color: #fff;
}

body:has(.mode:checked) .header-content p {
  color: var(--color-tertiary);
}

:root:has(.mode:checked) .chefs-cards .card picture:before {
  background-image: url("../images/team-shape-dark.svg");
}

body:has(.mode:checked) .contact .details > div h3 {
  color: #adadad;
}
/*^========> Customize Scrollbar <========*/
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px #0003 inset;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
  border-radius: 100vh;
}
/*^============> General <============*/
.special-heading {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.special-heading h2 {
color: var(--color-tertiary);
  font-weight: 400;
  font-size: 14px;
}

.special-heading p {
font-size: 50px;
  font-family: var(--font-primary);
}

.special-heading span {
color: var(--color-primary);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    -moz-transform: translate(1px, 2px) rotate(0deg);
    -ms-transform: translate(1px, 2px) rotate(0deg);
    -o-transform: translate(1px, 2px) rotate(0deg);
}
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    -moz-transform: translate(1px, -2px) rotate(-1deg);
    -ms-transform: translate(1px, -2px) rotate(-1deg);
    -o-transform: translate(1px, -2px) rotate(-1deg);
}
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}
img{
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

ul {
  list-style-type: none;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media screen and (max-width: 300px) {
  :root {
    font-size: 12px;
  }
}
/*^========> Container <========*/
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-inline: 15px;
  }
}
/*?============> Navbar <============*/
nav {
  background-color: var(--color-light);
  position: fixed;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 0px 14px 0px #0000001b;
}

nav .container {
  --padding: 1.5625rem 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 30px;
  font-family: var(--font-default);
}

.logo::after {
  content: ".";
  color: var(--color-primary);
}

nav .nav-links {
  --inline-gap: 0.9375rem;
  --block-gap: 0.3125rem;
  display: flex;
  font-size: 1.0625rem;
  color: var(--color-tertiary);
  font-weight: 600;
}

nav .nav-links .close-icon {
  display: none;
  width: fit-content;
  align-self: flex-end;
  font-size: 1.375rem;
}

nav:has(.nav-links:target) {
  height: 100%;
  background-color: hsl(
    var(--light-hue),
    var(--light-saturation),
    var(--light-lightness),
    0.7
  );
}

nav .nav-links:target {
  transform: translateX(0);
}

nav .nav-links a {
  padding: var(--block-gap) var(--inline-gap);
  position: relative;
  transition: color var(--animation-duration);
}

body:not(body:has(:target)) li a[href="#home"],
body:has(.home:target) li a[href="#home"],
body:has(.contact:target) li a[href="#contact"],
body:has(.gallery:target) li a[href="#gallery"],
body:has(.chefs:target) li a[href="#chefs"] {
  color: #000;
}

body:not(body:has(:target)) li a[href="#home"]::before,
body:has(.home:target) li a[href="#home"]::before,
body:has(.contact:target) li a[href="#contact"]::before,
body:has(.gallery:target) li a[href="#gallery"]::before,
body:has(.chefs:target) li a[href="#chefs"]::before {
  width: calc(100% - (var(--inline-gap) * 2));
}

nav .nav-links a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: var(--inline-gap);
  width: 0px;
  height: 2px;
  background-color: var(--color-primary);
  transition: width var(--animation-duration);
}

nav .nav-links a:hover {
  color: #000;
}

nav .nav-links a:hover::before,
nav a.active::before {
  width: calc(100% - (var(--inline-gap) * 2));
}

nav .menu-icon {
  cursor: pointer;
  font-size: 1.5625rem;
  display: none;
}
@media screen and (max-width: 1200px) {
  nav .nav-links {
    --inline-gap: 0px;
    --block-gap: 15px;
    transform: translateX(100%);
    position: absolute;
    z-index: 999;
    width: 350px;
    height: 100%;
    background-color: #fff;
    border-left: 2px solid #f1f1f1;
    right: 0;
    top: 0;
    flex-direction: column;
    transition: transform 400ms;
  }

  nav .nav-links .close-icon {
    display: block;
    padding: 10px 15px 5px;
  }

  nav .nav-links a:not(.active):hover::before {
    width: 0px;
  }

  nav .nav-links a {
    width: 100%;
    padding: var(--block-gap) 10px;
  }

  nav .nav-links a::before {
    bottom: 2px;
  }

  nav .menu-icon {
    display: block;
  }

  nav .mode-group {
    margin-left: auto;
    margin-right: 20px;
  }
}
/* start of header */
.home{
  background-color: var(--color-light-grey);
  overflow: hidden;


  
}
.home .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

}

.home .container .picture{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.home .container .caption{
  width: 40%;
}
.home .container .picture img {
  width: 100%;
  filter: drop-shadow(4px 4px 9px #000a);
  -webkit-filter: drop-shadow(4px 4px 9px #000a);
}
.home .container .picture img:hover {
    animation-name: shake;
    animation-duration: var(--animation-duration);
    animation-iteration-count: infinite;
}



.home .container .links ul {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
.home .container .links ul li a.book{
  color: var(--color-light);
  background-color: var(--color-primary);
  text-align: center;
  border-radius: 100vh;
  padding: 10px 20px;
  transition: all var(--animation-duration);
  -webkit-transition: all var(--animation-duration);
  -moz-transition: all var(--animation-duration);
  -ms-transition: all var(--animation-duration);
  -o-transition: all var(--animation-duration);
}
.home .container .links ul li a i {
  background-color: var(--color-light);
  border-radius: 50%;

  padding: 15px;
  margin-right: 15px;
}
.home .container .links ul li a.watch:hover{
  color: var(--color-primary);
}
.home .container .links ul li a.book:hover{
  background-color: hsl(0, 84%, 50%);
}
.home .container .links ul li a.watch{
  color: var(--color-default);
}
.home .container .caption .cap h2{
  font-family: var(--font-primary);
  font-size: 65px;
  font-weight:700;
  color:var(--color-secondary);
}
.home .container .caption .cap p{
  font-family: var(--font-default);
  font-size: 16px;
  line-height: 26px;
font-weight: 400;
margin-bottom: 15px;
}
@media all and(max-width:992px) {
  .home .container{
    flex-direction: column;
    gap: 20px;
    margin-top: 530px;
    }
 
  
  
}
@media screen and (max-width: 992px) {
  .home .container {
    flex-direction: column-reverse;
    gap: 50px;
    margin-top: 530px;
  }
  .home .container .picture{
    width: 100%;
  }
  .home .container .caption{
    width: 100%;
  }
   .home .container .caption .links ul li{
    margin-bottom: 20px;
   }
}

/* end of home */
/* start of chefs */
.chef-cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  --gap:30px;
  gap: var(--gap);
}
.chef-cards .card{
    width: calc(calc(100% - var(--gap)* 2) / 3);
    background-color: var(--color-light);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: scale var(--animation-duration);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: scale var(--animation-duration);
    -moz-transition: scale var(--animation-duration);
    -ms-transition: scale var(--animation-duration);
    -o-transition: scale var(--animation-duration);
}
.chef-cards .card .image {
  width: 100%;
  position: relative;
 
}
.chef-cards .card img {
  width: 100%;
}
.chef-cards .card .image::before{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url("../images/team-shape.svg");
    background-repeat: repeat-x;
    width: 100%;
    height: 55px;
}
.chef-cards .card .content h3{
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--color-default);

}
.chef-cards .card .content span{
 font-size: 14px;
    color: var(--color-tertiary);
    margin-block: 5px 8px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-tertiary);
}
.chef-cards .card .content{
  padding: 15px;
}
.chef-cards .card .content p {
    font-size: 16px;
    color: var(--color-tertiary);
}
.chef-cards .items{
   background-color: #ffffff4d;
   width: fit-content;
   padding: 8px;
   border-radius: 7px;
   position: absolute;
   top: 30px;
   right: -50px;
   transition: all var(--animation-duration);
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   -o-border-radius: 7px;
   transition: all 0.5s ;
   -webkit-transition: all 0.5s ;
   -moz-transition: all 0.5s ;
   -ms-transition: all 0.5s ;
   -o-transition: all 0.5s ;
}
.chef-cards .card .items li a{
    padding-bottom: 12px;
    color: var(--color-tertiary);}
.chef-cards .card:hover .items{
  right: 30px;
}.chef-cards .card:hover{
  scale: 1.1;
}
.chef-cards .card .items li a:hover{
  color: rgba(55, 55, 63, 0.9)
;
}
@media all and (max-width:992px){
  .chef-cards .card {
    width: calc(calc(100% - var(--gap)* 2) / 2);
  }
}
@media all and (max-width:768px){
  .chef-cards .card {
    width: 100%;
  }
}
.gallery{
    background-color: var(--color-light-grey);
    overflow: hidden;
    margin-top: 100px;
}
.gallery .special-heading {
  margin-top: 60px;
}
.gallery-photos {
  --gap: 15px;
  height: 1160px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--gap);

}

.gallery-photos picture {
  width: calc(calc(100% - var(--gap) * 2) / 3);
  border: 4px solid #fff;
  position: relative;
  overflow: hidden;
}

.gallery-photos picture img {
  width: 100%;
  transition: scale var(--animation-duration);
}

.gallery-photos picture .layer {
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: #00000096;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: top var(--animation-duration);
}

.gallery-photos picture .layer p {
  color: #ddd;
  text-align: center;
}

.gallery-photos picture:hover img {
  scale: 1.1;
}

.gallery-photos picture:hover .layer {
  top: 0;
}
@media all and (max-width: 1400px) {
  .gallery-photos {
    height: 1000px;
  }
}

@media all and (max-width: 1200px) {
  .gallery-photos {
    height: 845px;
  }
}

@media all and (max-width: 992px) {
  .gallery-photos {
    height: 1405px;
  }

  .gallery-photos picture {
    width: calc(calc(100% - var(--gap)) / 2);
  }

  .gallery .pizza {
    order: 1;
  }
  .gallery .fried {
    order: 6;
  }
  .gallery .omelette {
    order: 4;
  }
  .gallery .kofta {
    order: 7;
  }
  .gallery .burger {
    order: 2;
  }
  .gallery .pizza-slices {
    order: 3;
  }
  .gallery .steak {
    order: 5;
  }
}

@media all and (max-width: 768px) {
  .gallery-photos {
    height: auto;
  }
  .gallery-photos picture {
    width: 100%;
  }
}
/* start of contact */
.contact .map iframe{
  width: 100%;
  height: 21.875rem;
}
.contact .information{
  display: flex;
  flex-wrap: wrap;
  --gap:15px;
  gap: var(--gap);
    margin-block: 25px;
  }
  .contact .information>div{
  width: calc(calc(100% - var(--gap)) / 2);
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: hsl( 0, 0%, calc(100% - 4%) );
}
.contact .information .logo{
  min-height:50px ;
  min-width: 50px;
  background-color: var(--color-primary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.contact .information .logo i{
  color: white;
  font-size: 20px;
  line-height: 18px;
  font-weight: 900;
  transform: translateX(15%);
  -webkit-transform: translateX(15%);
  -moz-transform: translateX(15%);
  -ms-transform: translateX(15%);
  -o-transform: translateX(15%);
} 
.contact .information >div h3{
  color: #7d7d7d;
  font-size: 20px;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 5px;
} 
.contact form{
  display: flex;
  flex-direction: column;
  --gap:10px;
  align-items: center;
  box-shadow: 0 0 1.875rem #00000014;
  gap: var(--gap);
}
.contact form .personal-data{
  width: 100%;
}
.contact form .personal-data input{
width: calc(calc(100% - var(--gap)) / 2);
}
.contact form>*{
  width: 100%;
}
.contact form input , .contact form textarea{
  padding: 15px ;
  font-family: inherit;
  border: 1px solid #4F4F4F;
}
.contact form input[type="submit"]{
  width: fit-content;
  background-color: var(--color-primary);
  color: white;
  margin-top: 15px;
  border-radius: 100vh;
  -webkit-border-radius: 100vh;
  -moz-border-radius: 100vh;
  -ms-border-radius: 100vh;
  -o-border-radius: 100vh;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.contact form textarea{
    min-height: 150px;
    max-height: 300px;
      resize: both;
}
.contact form input:focus , .contact form textarea:focus{
  border-color: var(--color-primary);
  outline: none;
}
/* end contact */
/* start footer */
.footer{
    background-image: linear-gradient(#0009, #0009), url(../images/textured-metal-background.jpg);
    color: #fff;
    box-shadow: 0px -1px 5px #0007;
    background-size: contain;
}
.footer .container{
     --gap: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-top: 100px;
    
}
.footer .container .one{
  width: calc(calc(100% - var(--gap)* 2) / 4);}
.footer .container .one .logo{
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-top: 20px;
}
.footer .container .one .logo img {
width: 2.5rem;
    height: 2.5rem;
  }
  .footer .container .one .logo h2{
    font-size: 30px;
    font-family: var(--font-default);
}

  
  .footer .container .one p{
    margin-block: 10px;
  }  
  .footer .container .one h3{
       text-align: center;
    padding: 10px;
    border-bottom: 2px solid #ddd6;
    margin-bottom: 10px;
  }
  .footer .one .links-1 ul{
    display: flex;
    justify-content: space-around;
    gap: .625rem;
    padding: 10px;
  }
.footer .one .links-1 ul li a i{
      font-size: 1.5rem;
     }
.footer .container .two{
      width: calc(calc(100% - var(--gap)* 2) / 2);
      margin-top: 20px;
}
.footer .two .subcribe-box h3,.footer .two .subcribe-box p,.footer .two .subcribe-box .subscribe-email{
padding-bottom: 10px;
}

.footer .subcribe-box .subscribe-email{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.footer .subcribe-box .subscribe-email input{
  background-color: white;
  padding: 15px;
  flex-grow: 1;
  outline: none;
  border: none;
}
.footer .subcribe-box .subscribe-email button{
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  cursor: pointer;
  transition: all var(--animation-duration);
  -webkit-transition: all var(--animation-duration);
  -moz-transition: all var(--animation-duration);
  -ms-transition: all var(--animation-duration);
  -o-transition: all var(--animation-duration);
}
.footer .subcribe-box .subscribe-email button:hover{
  background-color: hsl(0, 84%, 50%);
}
.footer .links-2 h3{
  padding-bottom: 10px;
}
.footer .links-2 ul{
  --gap: 20px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gap);
}
.footer .links-2 ul li{
  width: calc(calc(100% - var(--gap)) / 2);
    padding: 5px;
    transition: all var(--animation-duration);
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.footer .links-2 ul li i{
  margin-right: 5px;
}
.footer .links-2 ul li:hover{
  background-color:#222222 ;
  transform: translateX(5%);
  -webkit-transform: translateX(5%);
  -moz-transform: translateX(5%);
  -ms-transform: translateX(5%);
  -o-transform: translateX(5%);
}
.footer .container .three{
  width: calc(calc(100% - var(--gap)* 2) / 4);
  margin-top: 20px;
}
.footer .three h3{
  
    margin-bottom: 10px;
}
.footer .three ul li {
  padding-bottom: 10px;
}
.footer .three ul li i{
  color: var(--color-primary);
  font-size: 22px;
  margin-right: 5px;
}
@media screen and (max-width: 1200px) {
  .footer .container .one ,.footer .container .three {
    width: calc(calc(100% - var(--gap)) / 2);
    order: 1;
  }

  .footer .container .two  {
    width: 100%;
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  .footer .container .one ,.footer .container .two ,.footer .container .three {
    width: 100%;
    order: 0;
  }
}

@media screen and (max-width: 576px) {
  .footer .subscribe-email {
    flex-direction: column;
    gap: 10px;
  }
}


